footer.footer.border-top
    .container
        .row.justify-content-center
                ul
                    li.item Facebook
                    li.item.active Twitter
                    li.item Google+
                    li.item LinkedIn
                    li.item Behanc
                    li.item Dribbble
                    li.item GitHub