extends _layout/layout.pug
block main 
	section.home_slider
		.container
			.row
				.col
					h1 Hi there! We are the new kids on the block and we build awesome website and mobile apps.
					p
						a.btn.btn-more.btn-lg(href="#") Click Here
	section.home_service
		.container
			.row
				.col
					h2 SERVICE WE PROVIDE
					p.abc Thời gian xóa đi những ngây thơ những điều vội vàng như trong giấc mơ, để lại những cơn đau vu vơ chẳng còn bất ngờ
			.row
				.col-sm-6.col-md-3
					img(src="./img/home_icon_1.png", alt="")
					h3 BRANDING
					p có điều gì sao không nói cùng anh, đừng tập quen cách sống quẩn quanh
				.col-sm-6.col-md-3
					img(src="./img/home_icon_2.png", alt="")
					h3 DESIGN
					p có điều gì sao không nói cùng anh, đừng tập quen cách sống quẩn quanh
				.col-sm-6.col-md-3
					img(src="./img/home_icon_3.png", alt="")
					h3 DEVELOPMENT
					p có điều gì sao không nói cùng anh, đừng tập quen cách sống quẩn quanh
				.col-sm-6.col-md-3
					img(src="./img/home_icon_4.png", alt="")
					h3 ROCKET 1H
					p có điều gì sao không nói cùng anh, đừng tập quen cách sống quẩn quanh
	section.home_aboutus
		.container
			.row
				.col
					h2 MEET OUR BEAUTIFUL TEAM
					p Lạ lùng em với, gió hát lên câu ca làm anh thao thức, mơ bao say mê nồng nàng giờ đã phai màu.
			.row
				.col-sm-6.col-md-3
					img(src="./img/home_product_5.png", alt="")
					h3 Long Long
					h4 Web Desiner
					p.abc Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, minima quidem? Culpa, cupiditate?
					i.fa.fa-facebook
					i.fa.fa-twitter
					i.fa.fa-linkedin
					i.fa.fa-envelope-o
				.col-sm-6.col-md-3
					img(src="./img/home_product_5.png", alt="")
					h3 Trung Trung
					h4 Web Desiner
					p.abc Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, minima quidem? Culpa, cupiditate?
					i.fa.fa-facebook
					i.fa.fa-twitter
					i.fa.fa-linkedin
					i.fa.fa-envelope-o
				.col-sm-6.col-md-3
					img(src="./img/home_product_5.png", alt="")
					h3 Nhiều Nhiều
					h4 Web Desiner
					p.abc Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, minima quidem? Culpa, cupiditate?
					i.fa.fa-facebook
					i.fa.fa-twitter
					i.fa.fa-linkedin
					i.fa.fa-envelope-o
				.col-sm-6.col-md-3
					img(src="./img/home_product_5.png", alt="")
					h3 Toàn Toàn
					h4 Web Desiner
					p.abc Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, minima quidem? Culpa, cupiditate?
					i.fa.fa-facebook
					i.fa.fa-twitter
					i.fa.fa-linkedin
					i.fa.fa-envelope-o
	section.home.skillforus
		.container
			.row
				.col
					h2 WE GOT SKILLS!
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta earum aut voluptatibus dignissimos quam!
			.row.mt-4
				.col-sm-6.col-md-3.skill_item
					.c100.p90.blue
						span 90%
						.slice
							.bar
							.fill
					h4 WEB DESIGN
				.col-sm-6.col-md-3
					.c100.p75.pink
						span 75%
						.slice
							.bar
							.fill
					h4 HTML/CSS
				.col-sm-6.col-md-3
					.c100.p70.green
							span 70%
							.slice
								.bar
								.fill
					h4 GRAPHIC DESIGN
				.col-sm-6.col-md-3
					.c100.p85.orange
						span 85%
						.slice
							.bar
							.fill
					h4 UI/UX
	section.home.portfolio
		.container
			.row
				.col
					h2 OUR PORTFOLIO
					p Bài hát tặng em, mối tình khát khao, đời bao giông tố, đời nhiều chông gai, anh vẫn yêu, tình yêu chỉ em thôi...
					p 
						a.btn.btn-more(href="#") ALL
						a.btn.btn-more(href="#") WEB
						a.btn.btn-more(href="#") APPS
						a.btn.btn-more(href="#") ICONS
			.row.mt-4
				.col-sm-6.col-md-6.img-fluid
					img(src="./img/home_product_9.png", alt="")
					p Isometric Perspective Mock-Up
				.col-sm-6.col-md-6.img-fluid
					img(src="./img/home_product_10.png", alt="")
					p Time Zone App UI
			.row.mt-4
				.col-sm-6.col-md-6.img-fluid
					img(src="./img/home_product_11.png", alt="")
					p Viro Media Players UI copy 2
				.col-sm-6.col-md-6.img-fluid
					img(src="./img/home_product_12.png", alt="")
					p Viro Media Players UI copy 2
			.row.mt-5
				.col
					a.btn.btn-success(href="") LOAD MORE PROJECTS
	section.home.sayaboutus
		.container
			.row
				.col
					h2 WHAT PEOPLE SAY ABOUT US
					p Our clients love us
			.row
				.col-sm-6.col-md-6.mt-5
					.row
						.col-sm-3.col-md-3
							<img src="./img/home_dog.png" alt="" class="rounded-circle">
						.col-sm-9.col-md-9
							p.cmt "Lorem ipsum dolor sit amet consectetur adipisicing elit."
							h4 Chanel Iman
							p.nganh CEO of Pinterest
				.col-sm-6.col-md-6.mt-5
					.row
						.col-sm-3.col-md-3
							<img src="./img/home_dog.png" alt="" class="rounded-circle">
						.col-sm-9.col-md-9
							p.cmt "Lorem ipsum dolor sit amet consectetur adipisicing elit." 
							h4 ADRIANA LIMA
							p.nganh CEO of Pinterest
				.col-sm-6.col-md-6.mt-5
					.row
						.col-sm-3.col-md-3
							<img src="./img/home_dog.png" alt="" class="rounded-circle">
						.col-sm-9.col-md-9
							p.cmt “Lorem ipsum dolor sit amet consectetur adipisicing elit. ”
							h4 ANNE HATHAWAY
							p.nganh CEO of Pinterest
				.col-sm-6.col-md-6.mt-5
					.row
						.col-sm-3.col-md-3
							<img src="./img/home_dog.png" alt="" class="rounded-circle">
						.col-sm-9.col-md-9
							p.cmt “Lorem ipsum dolor sit amet consectetur adipisicing elit. ”
							h4 EMMA STONE
							p.nganh CEO of Pinterest
	section.home.touch
		.container
			.row
				.col
					h2 GET IN TOUCH
					p 1600 Pennsylvania Ave NW, Washington, DC 20500, United States o
			.row
				.col-lg-2
				.col-sm-6.col-md-12
					.form-row
						.form-group.col-6
							input.form-control(type="text" placeholder="Your Name")
						.form-group.col-6
							input.form-control(type="text" placeholder="Your Email")
						.form-group.col-12
							textarea.form-control(placeholder="Your Message", cols="30", rows="10")
			.row.mt-5
				.col
					a.btn.btn-primary.btn-lg(href="") SEND MESSAGE